body {
  margin: 0;
  background: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  background-color: #1e293b;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #38bdf8;
}

/* MAIN CONTAINER */
.container {
  background: #1e293b;
  padding: 25px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  margin: 40px auto; /* center horizontally */
}

/* TITLE */
.title {
  text-align: center;
  margin-bottom: 20px;
}

/* INPUT ROW */
.inputRow {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

/* BUTTON */
.addBtn {
  background: #22c55e;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.addBtn:hover {
  background: #16a34a;
}

/* TODO ITEM */
.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 8px;
  background: #334155;
  border-radius: 6px;
}

/* DELETE BUTTON */
.deleteBtn {
  background: #ef4444;
  border: none;
  padding: 6px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.deleteBtn:hover {
  background: #dc2626;
}

/* COMPLETED */
.completed {
  text-decoration: line-through;
  color: #94a3b8;
}